<nav class="navbar-default navbar-static-side" id="bgcolor" role="navigation">
        <div class="sidebar-collapse ">
                <ul>
                        <li class="nav-header bg bg-secondary" style="background-color: white !important;">
                                <div class="dropdown profile-element ">
                                        <!-- <img alt="image" class="img-responsive"
                                                src="../../../../assets//img//1616682659957.jpg" /> -->
                                        <h1 style="background-color: white; font-style: italic;">EMPLOYEE PORTAL</h1>
                                        <a data-toggle=" dropdown" class="dropdown-toggle" href="#">

                                        </a>
                                </div>
                                <div class="logo-element">
                                        EP
                                </div>
                        </li>
                </ul>
                <ul class="nav metismenu" id="side-menu">
                        <li><a routerLink="/Dashboard" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-tachometer"></i>
                                        <span class="hide-menu ml-2">DashBoard</span></a>
                        </li>
                        <li><a routerLink="/Admin/Surveys" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-superpowers"></i>
                                        <span class="hide-menu ml-2 pr-5">Surveys</span></a>
                        </li>
                        <li><a routerLink="/Admin/Statements" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-barcode"></i>
                                        <span class="hide-menu ml-2 pr-5">Statements</span></a>
                        </li>
                        <li><a routerLink="/Admin/AssignRoles" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fas fa-flag"></i>
                                        <span class="hide-menu ml-2 pr-5">Assign Roles</span></a>
                        </li>
                        <li><a routerLink="/Admin/AssignGroupRoles" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fas fa-flag"></i>
                                        <span class="hide-menu ml-2 pr-5">Assign Group Roles</span></a>
                        </li>
                        <li><a routerLink="/Admin/HRPage" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fas fa-flag"></i>
                                        <span class="hide-menu ml-2 pr-5">HR Page</span></a>
                        </li>
                </ul>
        </div>
</nav>