<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">ULD Type</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" *ngIf="GV.canAddEdit"
            [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit"
            [hidden]="!showeditButton" (click)="saveULDTpes()"><i class="fa fa-pencil"></i> Update </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit"
            [hidden]="!showSaveButton" (click)="saveULDTpes()"><i class="fa fa-check "></i>
            Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" *ngIf="GV.canAddEdit"
            [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
            Add New ULD Type </button>
    </div>
</div>

<form [formGroup]="ULDForm" role="form">
    <div class="row" [hidden]="!showNewSection">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm">
                            <div class="col-lg-3 col-md-4 col-sm-4 float-left">
                                <div class="form-group mt-2">
                                    <label class="font-normal">ULD Type<span class="imp">*</span></label>
                                    <input type="text" oninput="this.value = this.value.toUpperCase()"
                                        class="form-control" formControlName="ULDType">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>
<div>
    <div class="row" [hidden]="!showGrid">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtTrigger0" [dtTrigger]="dtTrigger0"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>ULD Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of this.ULDResponseModel.ULDResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.ULDType }}</td>
                                    <td>
                                        <button *ngIf="GV.canAddEdit"
                                            class="btn btn-success color text-white btn-sm m-1" title="Edit"
                                            (click)="editULDType(p)"> <i class="fa fa-edit"
                                                aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>