



.tab2{
    height:300px;
}
/* .tabs-container .nav > li > a:hover,
.tabs-container .nav > li > a:focus {
  background-color: #770000;
  color: white;
} */
.ml-5, .mx-5 {
    margin-left: 3rem!important;
}

.modal-xl {
    max-width: 1100px !important;
}
.btn-outline-secondary{
    height: 2.05rem;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.bd-WeightRPT-modal-xl {
    max-width: 1100px !important;
}
.blink_me {
    animation: blinker 1s linear infinite;
    text-transform: uppercase;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
   .ng-autocomplete
    ::ng-deep .autocomplete-container input {
    border: 1px solid #e5e6e7;
    border-radius: 6px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    line-height: 1.42857;
    height: 35px;

    }
    .ng-autocomplete
    ::ng-deep .autocomplete-container {

        /* position: relative;
      overflow: visible; */
      line-height: 1.42857;
      height: 35px;
      border-radius: 6px;

  }
  .ng-autocomplete
  ::ng-deep .autocomplete-container :focus {

    border-color: #770000 !important;
  box-shadow: 0 0 2pt 2pt #770000;
  }

  .agentDIV{
    border-color: rgb(94, 92, 92);
    padding: 15px;
    border-style: dotted;
    border-width: 0.5px;
    border-radius: 10px;
  }

  .checkboxesDIV{
    border-color: rgb(94, 92, 92);
    margin-top: 10px;
    padding: 15px;
    border-style: dotted;
    border-width: 0.5px;
    border-radius: 10px;
  }
  .modal-xsmm{
    max-width: 700px !important;
  }
  .titlee{
    padding: 0px 17px 0px 13px;
    margin: -15px 6px 6px -15px;
    background-color: #203668;
    color: white;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 25px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #770000;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;

}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

