<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
  <div class="col-lg-2 Adjust">
    <h2 class="text-white">Acceptance</h2>
  </div>
  <div class="col-lg-2 mt-2">
    <div class="search-box">
      <button class="btn-search" title="Search">
        <i class="fas fa-search"></i>
      </button>
      <input type="text" class="input-search" [(ngModel)]="AWBNo" (keyup.enter)="getAWBDetail()" mask="000-0000-0000"
        placeholder="Enter AWBNo" />
    </div>
  </div>

  <!-- <div class="col-lg-4 Adjust">
        <h3 class="text-danger float-right mt-4 blinking blink_me" [hidden]="AgentName == ''">{{AgentName}} is in Grey
            List!
        </h3>
    </div> -->
  <div class="col-lg-6 Adjust">
    <!-- <h3 class="text-white float-right mt-4" [hidden]="editMode==false"><b>AWB Status:</b>
            {{AcceptanceDetailModel.AWBDetail.AWBStatus}}
        </h3> -->

    <div class="title-action">
      <button [disabled]="delivered == true" [hidden]="editMode == true" class="btn btn-light btn-lg"
        (click)="SaveAcceptance('New')">
        <i class="fa fa-check mr-1" aria-hidden="true"></i> Create New
      </button>
      <button [disabled]="delivered == true" [hidden]="editMode == false" class="btn btn-light btn-lg"
        (click)="SaveAcceptance('Edit')">
        <i class="fa fa-pencil mr-1" aria-hidden="true"></i>Update Acceptance
      </button>

      <!-- <button type="button" class="btn btn-w-m btn-primary text-white color mr-2" (click)="SyncData()"><i
                  class="fa fa-sync mr-1" aria-hidden="true"></i>Sync Data</button> -->
      <button type="button" class="btn btn-w-m btn-secondary btn-lg color text-white ml-2" (click)="resetAcceptance()">
        <i class="fa fa-redo mr-1" aria-hidden="true"></i>Reset
      </button>
    </div>
  </div>
  <div class="col-lg-2 Adjust">
    <button type="button" class="forwardback btn-secondary text-white float-right color mt-2 mr-2"
      routerLink="/Export/Examination">
      Next
    </button>
  </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
  <div class="col-lg-12">
    <form [formGroup]="acceptanceForm" role="form">
      <!-- <button  class="btn btn-outline-secondary" type="button"
                                (click)="getAcceptanceWeight()"
                                style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                data-target=".bd-acceptanceRPT"><i class="fa fa-search"></i> HEllo</button> -->
      <br />
      <div class="row">
        <div class="col-sm">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> AWB Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="AWBNo" placeholder="000-0000-0000"
                mask="000-0000-0000" (change)="selectAirline()" />
            </div>
          </div>
          <div class="form-group input-group row">
            <label class="col-sm-4 col-form-label">Commodity</label>
            <select class="form-control col-sm-12 ml-4" formControlName="comid" (change)="getSHC();getNoticeTypes()">
              <option *ngFor="let p of responseCommodity" [value]="p.comid" [selected]="p.comid == ComidID">
                {{ p.comm_description }}
              </option>
            </select>
            <div class="input-group-append">
              <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2" type="button" tabindex="-1"
                (click)="
                  setModalState('notifyComid'); setGVGoods('CommodityDetail')
                " title="Search" data-toggle="modal" data-target=".bd-example2-modal-xl">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Destination</label>
            <div class="col-sm-8">
              <input type="text" formControlName="Destination" class="form-control" maxlength="3"
                oninput="this.value = this.value.toUpperCase()" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Region</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="Region">
                <option>Non Europe</option>
                <option>Europe</option>
                <option>USA</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Other Airline</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="otherAirlineCode">
                <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                  {{ p.ALName }}
                </option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-4 col-form-label">AWB Type</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="AWBType">
                <option>General</option>
                <option>POMAIL</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Airline</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="ALCode" (change)="setDestination()" tabindex="-1">
                <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                  {{ p.ALName }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> GD No.</label>
            <div class="col-sm-8">
              <input type="text" formControlName="GDNo" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Nature of Goods</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="Nature" readonly tabindex="-1" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No. of Pieces</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="Pieces" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Gross Weight</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" appTwoDigitDecimaNumber formControlName="grossWeight" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Chargeable Weight</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" appTwoDigitDecimaNumber formControlName="chargeableWeight"
                tabindex="-1" readonly />
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> SHC</label>
            <div class="col-sm-8">
              <input type="text" formControlName="SHC" tabindex="-1" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> CBM.</label>
            <div class="col-sm-8">
              <input type="text" formControlName="CBM" tabindex="-1" class="form-control" readonly />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="approvalStatus">
                <option *ngFor="let p of responseStatus" [value]="p.acceptanceStatusID">
                  {{ p.acceptanceStatus }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cut of Time</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="HandedDate" formControlName="cuttTime" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Acceptance Date</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="HandedDate" formControlName="HandedDate" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Acceptance Time</label>
            <div class="col-sm-8">
              <timepicker formControlName="HandedTime" [showMeridian]="false" [showSpinners]="false">
              </timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="agentDIV">
        <button class="btn btn-sm titlee">Agent Detail</button>
        <div class="row">
          <div class="col-sm">
            <div class="form-group input-group row">
              <label class="col-sm-4 col-form-label">IATA Reg No.</label>
              <input type="text" formControlName="IATARegNo" class="form-control ml-4" (change)="agentInfo()"
                mask="00-0-0000" placeholder="Enter Reg No." />
              <div class="input-group-append">
                <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2" type="button" (click)="
                    setModalState('notifyNewAgentTab1');
                    setGVGoods('AgentDetailForTab1')
                  " title="Search" data-toggle="modal" data-target=".bd-example3-modal-xl">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> Mobile No.</label>
              <div class="col-sm-8">
                <input type="text" formControlName="mobileNo" tabindex="-1" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> Agent Name</label>
              <div class="col-sm-8">
                <input type="text" formControlName="agentName" tabindex="-1" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> Phone No.</label>
              <div class="col-sm-8">
                <input type="text" formControlName="PhoneNo" tabindex="-1" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> CNIC</label>
              <div class="col-sm-8">
                <input type="text" formControlName="CNIC" class="form-control" readonly mask="00000-0000000-0" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> Address</label>
              <div class="col-sm-8">
                <textarea formControlName="agentAddress" tabindex="-1" class="form-control" rows="2"
                  readonly></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkboxesDIV">
        <div class="row">
          <div class="col-sm">
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="FurShipment" type="checkbox" value="" checked />
              <label class="form-check-label"> Frustrated Shipments </label>
            </div>
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="DNR" type="checkbox" value="" checked />
              <label class="form-check-label"> DNR </label>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="otherAirline" type="checkbox" value=""
                id="otherAirline" #otherAirline (click)="otherAirlineChecked(otherAirline.checked)" checked />
              <label class="form-check-label"> Other Airline </label>
            </div>
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="Occurance" type="checkbox" value="" checked />
              <label class="form-check-label"> Occurance </label>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="OvrShipment" type="checkbox" value="" checked />
              <label class="form-check-label"> Oversized Shipments </label>
            </div>
            <div class="form-group row">
              <input class="col-sm-4 col-form-label" formControlName="holdShipment" type="checkbox" value="" checked />
              <label class="form-check-label"> Hold Shipment </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Acceptance Remarks</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="AcceptanceRemarks" maxlength="250"
                id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row fadeInRight float-right pr-3">
        <!-- <button type="button" class="btn btn-w-m btn-success" (click)="SaveAcceptance('Edit')">Save
                    Changes</button> -->
      </div>
    </form>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs bg btn-w-m color" role="tablist">
          <li>
            <a class="nav-link text-white active" data-toggle="tab" href="#tab-5">Weight</a>
          </li>
          <li>
            <a class="nav-link text-white" data-toggle="tab" href="#tab-6">Dimensional</a>
          </li>
          <li>
            <a class="nav-link text-white" data-toggle="tab" href="#tab-7">AWB</a>
          </li>
          <li>
            <a class="nav-link text-white" data-toggle="tab" href="#tab-8">House</a>
          </li>
          <li>
            <a class="nav-link text-white" data-toggle="tab" href="#tab-4">Notice Types</a>
          </li>
          <li>
            <a class="nav-link text-white" data-toggle="tab" href="#tab-9">Attachment</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" id="tab-5" class="tab-pane active">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="col-md-12" [hidden]="addnewWeight">
                  <form [formGroup]="weightForm" role="form">
                    <div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Driver CNIC</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" mask="00000-0000000-0" tabindex="-1"
                            formControlName="driverCNIC" />
                        </div>
                        <label class="col-lg-2 col-form-label">AWB No.</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="AWBNo" tabindex="-1" readonly
                            [igxMask]="'000-0000-0000'" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Vehicle</label>
                        <div class="col-lg-4">
                          <select class="form-control" formControlName="vehicleID" (change)="checkByHand()">
                            <option *ngFor="let p of vehicleResponse" [value]="p.vehicleID">
                              {{ p.vehicleType }}
                            </option>
                          </select>
                        </div>
                        <label class="col-lg-2 col-form-label">Vehicle Number</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="vehNumer" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Driver Name</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="driverName" tabindex="-1" />
                        </div>
                        <label class="col-lg-2 col-form-label">Pieces</label>
                        <div class="col-lg-4">
                          <input type="text" formControlName="pieces" numbersOnly class="form-control"
                            (change)="getChargeable(); verifyPieces()" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">1st Weight</label>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" formControlName="firstWt" appTwoDigitDecimaNumber
                            (change)="calculateNetWeight(); setFirstTime()" />
                        </div>
                        <div class="col-lg-1">
                          <button [disabled]="delivered == true" class="btn btn-success float-right" type="button"
                            (click)="getWeightfromScale('1')">
                            1st Weight
                          </button>
                        </div>
                        <label class="col-lg-2 col-form-label">1st WT Date Time</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="firstWtdatetime" tabIndex="-1" value="{{weightForm.controls.firstWtdatetime.value |
                                              date:'dd:MMM:yyyy:H:mm' }}" readonly>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">2nd Weight</label>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" formControlName="secondWt" appTwoDigitDecimaNumber
                            (change)="calculateNetWeight(); setSecondTime()" />
                        </div>
                        <div class="col-lg-1">
                          <button [disabled]="delivered == true" class="btn btn-success float-right" type="button"
                            (click)="getWeightfromScale('2')">
                            2nd Weight
                          </button>
                        </div>
                        <label class="col-lg-2 col-form-label">2nd WT Date Time</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="secondWtdatetime" readonly />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Net Weight</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="netWt" appTwoDigitDecimaNumber
                            readonly />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Remakrs</label>
                        <div class="col-lg-10">
                          <textarea class="form-control" formControlName="remarks" id="exampleFormControlTextarea2"
                            rows="2"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-lg-12" [hidden]="showWeight">
                  <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="table-responsive">
                      <table class="
                          table table-striped table-hover
                          dt-responsive
                          display
                          nowrap
                        " style="width: 100%">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>AWB No.</th>
                            <th>Vehicle Number</th>
                            <th>Pieces</th>
                            <th>First Weight</th>
                            <th>2nd Weight</th>
                            <th>Net Weight</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                              let p of weightResponseModel.weightDetailResponse;
                              let ndx = index">
                            <td>{{ ndx + 1 }}</td>
                            <td>{{p.AWBNo}}</td>
                            <td>
                              <a>{{ p.vehNumer }}</a>
                            </td>
                            <td>{{ p.pieces }}</td>
                            <td>{{ p.firstWt }}</td>
                            <td>{{ p.secondWt }}</td>
                            <td>{{ p.netWt }}</td>
                            <td>
                              <button *ngIf="GV.canAddEdit_Agents" [disabled]="delivered == true" class="
                                  btn btn-success
                                  color
                                  text-white
                                  btn-sm
                                  m-1
                                " (click)="editWeight(p)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                              <button class="
                                  btn btn-success
                                  color
                                  text-white
                                  btn-sm
                                  m-1
                                " data-toggle="modal" data-target=".bd-WeightRPT-modal-xl"
                                (click)="getAcceptanceWeight(p)">
                                <i class="fa fa-print" aria-hidden="true"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-lg-12">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showeditButtonWeight" [disabled]="delivered == true"
                      (click)="saveWeight()" class="btn btn-success color text-white float-right">
                      <i class="fa fa-pencil"></i>
                      Update
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showSaveButtonWeight" [disabled]="delivered == true"
                      (click)="saveWeight()" class="btn btn-success color text-white float-right">
                      <i class="fa fa-check"></i> Save
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showCancelButtonWeight"
                      [disabled]="delivered == true" (click)="showHideWeight('Cancel')"
                      class="btn btn-secondary text-white mr-2 float-right">
                      <i class="fa fa-times"></i>
                      Cancel
                    </button>
                  </div>
                  <div class="col-lg-12 text-white">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="shownewButtonWeight" [disabled]="delivered == true"
                      (click)="showHideWeight('New')" class="btn btn-success color float-right">
                      <i class="fa fa-plus"></i> Add New Weight
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" id="tab-7" class="tab-pane">
            <form [formGroup]="AWBForm" role="form">
              <div class="panel-body">
                <div class="col-lg-12">
                  <div class="agentDIV">
                    <button class="btn btn-sm titlee">General Detail</button>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="AWB Fee">AWB</label>
                          <input type="text" formControlName="AWBFee" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">ALCW</label>
                          <input type="text" formControlName="ALCW" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">AIS</label>
                          <input type="text" formControlName="AIS" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">MYC</label>
                          <input type="text" formControlName="MYC" class="form-control" appTwoDigitDecimaNumber>
                        </div>

                      </div>
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">PPD</label>
                          <input type="text" formControlName="PPD" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="Civil Aviation Charges">CAA</label>
                          <input type="text" formControlName="CAA" class="form-control" appTwoDigitDecimaNumber>
                        </div>

                      </div>
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="Other Charges">OTH</label>
                          <input type="text" formControlName="OTH" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="Scaning Charges">SCC</label>
                          <input type="text" formControlName="SCC" class="form-control" appTwoDigitDecimaNumber>
                        </div>

                      </div>
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="DV for Custom">DV</label>
                          <input type="text" formControlName="DV" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label" tooltip="Custom clearance charges">CCC</label>
                          <input type="text" formControlName="CCC" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">TTL</label>
                          <input type="text" formControlName="TTL" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">AWC</label>
                          <input type="text" formControlName="AWC" class="form-control" appTwoDigitDecimaNumber>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-2 col-form-label">Execution Date</label>
                          <input type="date" formControlName="executionDate" class="col-sm-3 form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="agentDIV">
                    <button class="btn btn-sm titlee">Shipper Detail</button>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">Shipper Name</label>
                          <select class="form-control ml-4" formControlName="shipperId"
                            (change)="getShipperDetailAWB()">
                            <option *ngFor="let p of shippereResponse" [value]="p.shipperId"
                              [selected]="p.shipperId == ShipperID">
                              {{ p.shipperName }}
                            </option>
                          </select>
                          <div class="input-group-append">
                            <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2" type="button"
                              (click)="
                              setModalState('notifyShipper');
                              setGVGoods('ShipperDetail');
                              setShipperDetail('AWB')
                            " title="Search" data-toggle="modal" data-target=".bd-example4-modal-xl">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Phone No.</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="shipperPhoneNo" tabindex="-1" class="form-control"
                              readonly />
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Country</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="shippercountryName" class="form-control" readonly />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> City</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="shippercityName" class="form-control" readonly />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"> Address</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" formControlName="shipperAddress"
                              id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="agentDIV">
                    <button class="btn btn-sm titlee">Cosignee Detail</button>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">Cosignee Name</label>
                          <select class="form-control ml-4" formControlName="cid" (change)="getConsigneeDetailAWB()">
                            <option *ngFor="let p of consigneeResponse" [value]="p.cid"
                              [selected]="p.cid == ConsigneeID">
                              {{ p.consigneeName }}
                            </option>
                          </select>
                          <div class="input-group-append">
                            <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2" type="button"
                              (click)="
                              setModalState('notifyConsignee');
                              setGVGoods('ConsigneeDetail');
                              setConsigneeDetail('AWB')
                            " title="Search" data-toggle="modal" data-target=".bd-example5-modal-xl">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Phone No.</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="consigneePhoneNo" class="form-control" readonly />
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Country</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="consigneecountryName" class="form-control" readonly />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> City</label>
                          <div class="col-sm-4">
                            <input type="text" formControlName="consigneecityName" class="form-control" readonly />
                          </div>
                          <div class="col-sm-4">
                            <input type="text" formControlName="NotifyZIPCode" class="form-control" readonly />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"> Address</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" formControlName="consigneeAddress"
                              id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="agentDIV">
                    <button class="btn btn-sm titlee">Notify Detail</button>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group input-group row">
                          <label class="col-sm-4 col-form-label">Notify Name</label>
                          <select class="form-control ml-4" formControlName="notifyID" (change)="getNotifyDetailAWB()">
                            <option *ngFor="let p of notifyResponse" [value]="p.notifyID">
                              {{ p.notifyName }}
                            </option>
                          </select>
                          <div class="input-group-append">
                            <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2" type="button"
                              (click)="
                              setModalState('notifyNotify');
                              setGVGoods('NotifyDetail');
                              setNotifyDetail('Notify')
                            " title="Search" data-toggle="modal" data-target=".bd-notifyModal-modal-xl">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> ZIP Code</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="NotifyZIPCode" class="form-control" readonly />
                          </div>
                        </div>
                        <!-- <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Created By</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="createdBy" class="form-control" readonly />
                          </div>
                        </div> -->
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Country</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="notifyCountryName" class="form-control" readonly />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Contact No.</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="contactNo" class="form-control" readonly />
                          </div>
                        </div>
                        <!-- <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Modified By</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="modifiedBy" class="form-control" readonly />
                          </div>
                        </div> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"> Address</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" formControlName="notifyAddress"
                              id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="button" [disabled]="delivered == true" class="
                          btn btn-w-m btn-success
                          color
                          text-white
                          float-right mt-2
                        " (click)="SaveAcceptance('Edit')">
                        Save AWB Detail
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div role="tabpanel" id="tab-8" class="tab-pane">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="col-md-12" [hidden]="addnewHouse">
                  <form [formGroup]="houseForm" role="form">
                    <br />
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">HAWB No.</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="HAWBNo" oninput="this.value = this.value.toUpperCase()"
                              class="form-control" maxlength="20" />
                          </div>
                        </div>
                        <!-- <div class="form-group row">
                          <label class="col-sm-4 col-form-label">No. of Pieces</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="pieces" numbersOnly class="form-control"
                              (change)="getChargeable(); verifyPieces()" />
                          </div>
                        </div> -->
                        <!-- <div class="form-group row">
                          <label class="col-sm-1 col-form-label">L </label>
                          <div class="col-sm-3">
                            <input type="text" formControlName="length" class="form-control" appTwoDigitDecimaNumber
                              (change)="getChargeable()" />
                          </div>
                          <label class="col-sm-1 col-form-label">W </label>
                          <div class="col-sm-3">
                            <input type="text" formControlName="width" class="form-control" appTwoDigitDecimaNumber
                              (change)="getChargeable()" />
                          </div>
                          <label class="col-sm-1 col-form-label">H </label>
                          <div class="col-sm-3">
                            <input type="text" formControlName="height" appTwoDigitDecimaNumber
                              (change)="getChargeable()" class="form-control" />
                          </div>
                        </div> -->
                      </div>
                      <div class="col-sm">
                        <div class="input-group row mb-2">
                          <label class="col-md-4 col-form-label">Commodity</label>
                          <select class="form-control col-md-8 ml-4" formControlName="comid" (change)="getSHCHouse()">
                            <option *ngFor="let p of responseCommodity" [value]="p.comid"
                              [selected]="p.comid == ComidID">
                              {{ p.comm_description }}
                            </option>
                          </select>

                          <div class="input-group-append">
                            <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-3" type="button"
                              (click)="
                                setModalState('notifyComid');
                                setGVGoods('CommodityDetail')
                              " title="Search" data-toggle="modal" data-target=".bd-example2-modal-xl">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label"> Nature of Goods</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="Nature" readonly tabindex="-1" />
                          </div>
                        </div>
                        <!-- <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Nature of Goods</label>
                          <div class="col-sm-8">
                            <select class="form-control" formControlName="goodsId">
                              <option *ngFor="let p of responseGoods" [value]="p.goodsId"
                                [selected]="p.goodsId == GoodsID">
                                {{ p.Nature }}|{{ p.destination }}
                              </option>
                            </select>
                          </div>
                        </div> -->
                        <!-- <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Chargeable Weight</label>
                          <div class="col-sm-8">
                            <input type="text" formControlName="chargeableWeight" class="form-control" readonly />
                          </div>
                        </div> -->
                      </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="agentDIV">
                      <button class="btn btn-sm titlee">Shipper Detail</button>
                      <div class="row">
                        <div class="col-sm">
                          <div class="form-group input-group row">
                            <label class="col-sm-4 col-form-label">Shipper Name</label>
                            <select class="form-control ml-4" formControlName="shipperId"
                              (change)="getShipperDetailHouse()">
                              <option *ngFor="let p of shippereResponse" [value]="p.shipperId"
                                [selected]="p.shipperId == ShipperID">
                                {{ p.shipperName }}
                              </option>
                            </select>
                            <div class="input-group-append">
                              <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2"
                                type="button" (click)="
                                setModalState('notifyShipper');
                                setGVGoods('ShipperDetail');
                                setShipperDetail('House')
                              " title="Search" data-toggle="modal" data-target=".bd-example4-modal-xl">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> Phone No.</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="shipperPhoneNo" tabindex="-1" class="form-control"
                                readonly />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> Country</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="shippercountryName" class="form-control" readonly />
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> City</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="shippercityName" class="form-control" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm">
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Address</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" formControlName="shipperAddress"
                                id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="agentDIV">
                      <button class="btn btn-sm titlee">Cosignee Detail</button>
                      <div class="row">
                        <div class="col-sm">
                          <div class="form-group input-group row">
                            <label class="col-sm-4 col-form-label">Cosignee Name</label>
                            <select class="form-control ml-4" formControlName="cid"
                              (change)="getConsigneeDetailHouse()">
                              <option *ngFor="let p of consigneeResponse" [value]="p.cid"
                                [selected]="p.cid == ConsigneeID">
                                {{ p.consigneeName }}
                              </option>
                            </select>
                            <div class="input-group-append">
                              <button [disabled]="delivered == true" class="btn btn-outline-secondary ml-2"
                                type="button" (click)="
                                setModalState('notifyConsignee');
                                setGVGoods('ConsigneeDetail');
                                setConsigneeDetail('House')
                              " title="Search" data-toggle="modal" data-target=".bd-example5-modal-xl">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> Phone No.</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="consigneePhoneNo" class="form-control" readonly />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> Country</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="consigneecountryName" class="form-control" readonly />
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label"> City</label>
                            <div class="col-sm-8">
                              <input type="text" formControlName="consigneecityName" class="form-control" readonly />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm">
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Address</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" formControlName="consigneeAddress"
                                id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- //....................................................................... -->
                  </form>
                </div>
                <div class="col-lg-12" [hidden]="showHouse">
                  <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="
                          table table-hover table-striped
                          dt-responsive
                          table-bordered
                        " cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>HAWB No.</th>
                            <th>AWB No.</th>
                            <th>Pieces</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Chargeable Wt.</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of HouseAWB; let ndx = index">
                            <td>{{ ndx + 1 }}</td>
                            <td>
                              <a>{{ p.HAWBNo }}</a>
                            </td>
                            <td>
                              <a>{{ p.AWBNo }}</a>
                            </td>
                            <td>
                              <a>{{ p.pieces }}</a>
                            </td>
                            <td>
                              <a>{{ p.length }}</a>
                            </td>
                            <td>
                              <a>{{ p.width }}</a>
                            </td>
                            <td>
                              <a>{{ p.height }}</a>
                            </td>
                            <td>
                              <a>{{ p.chargeableWeight }}</a>
                            </td>
                            <td>
                              <button *ngIf="GV.canAddEdit_Agents" [disabled]="delivered == true"
                                class="btn btn-success color btn-sm m-1" (click)="editHouse(p)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-md-12">
                    <a [hidden]="showeditButtonHouse" (click)="saveHouse()"
                      class="btn btn-success color text-white float-right"><i class="fa fa-pencil"></i> Update
                    </a>
                    <a [hidden]="showSaveButtonHouse" (click)="saveHouse()"
                      class="btn btn-success color text-white float-right"><i class="fa fa-check"></i> Save
                    </a>
                    <a [hidden]="showCancelButtonHouse" (click)="showHideHouse('Cancel')"
                      class="btn btn-secondary text-white mr-2 float-right"><i class="fa fa-times"></i>
                      Cancel
                    </a>
                  </div>
                  <div class="col-lg-12">
                    <button [hidden]="shownewButtonHouse" (click)="showHideHouse('New')" [disabled]="delivered == true"
                      class="btn btn-success color text-white float-right mr-3">
                      <i class="fa fa-plus"></i> Add New House
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" id="tab-6" class="tab-pane">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="col-md-12" [hidden]="addnewWeightDim">
                  <form [formGroup]="DimweightForm" role="form">
                    <div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">AWB No.</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" formControlName="AWBNo" readonly
                            [igxMask]="'000-0000-0000'" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">No. of Pieces</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" (change)="calculateCBM()" formControlName="pieces"
                            appTwoDigitDecimaNumber />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Length</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" (change)="calculateCBM()" formControlName="length"
                            appTwoDigitDecimaNumber />
                        </div>
                        <label class="col-lg-2 col-form-label">Width</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" (change)="calculateCBM()" formControlName="width"
                            appTwoDigitDecimaNumber />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Height</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" (change)="calculateCBM()" formControlName="height"
                            appTwoDigitDecimaNumber />
                        </div>
                        <label class="col-lg-2 col-form-label">CBM</label>
                        <div class="col-lg-4">
                          <input type="text" class="form-control" formControlName="CBM" readonly />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Remakrs</label>
                        <div class="col-lg-10">
                          <textarea class="form-control" formControlName="remarks" id="exampleFormControlTextarea1"
                            rows="2"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-lg-12" [hidden]="showWeightDim">
                  <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="table-responsive">
                      <table class="
                          table table-striped table-hover
                          dt-responsive
                          display
                          nowrap
                        " style="width: 100%">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>AWB No.</th>
                            <th>No. of Pieces</th>
                            <th>Length</th>
                            <th>With</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>CBM</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of dimWeightResponse; let ndx = index">
                            <td>{{ ndx + 1 }}</td>
                            <td>
                              <a>{{ p.AWBNo }}</a>
                            </td>
                            <td>
                              <a>{{ p.pieces }}</a>
                            </td>
                            <td>
                              <a>{{ p.length }}</a>
                            </td>
                            <td>
                              <a>{{ p.width }}</a>
                            </td>
                            <td>
                              <a>{{ p.height }}</a>
                            </td>
                            <td>
                              <a>{{ p.netWeight }}</a>
                            </td>
                            <td>
                              <a>{{ p.CBM }}</a>
                            </td>
                            <td>
                              <button *ngIf="GV.canAddEdit_Agents" [disabled]="delivered == true"
                                class="btn btn-success color btn-sm m-1" (click)="editWeightDim(p)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-md-12">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showeditButtonWeightDim"
                      [disabled]="delivered == true" (click)="saveWeightDIM('Update')"
                      class="btn btn-success color text-white float-right">
                      <i class="fa fa-pencil"></i>
                      Update
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showSaveButtonWeightDim"
                      [disabled]="delivered == true" (click)="saveWeightDIM('New')"
                      class="btn btn-success color text-white float-right">
                      <i class="fa fa-check"></i> Save
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showCancelButtonWeightDim"
                      [disabled]="delivered == true" (click)="showHideDimWeight('Cancel')"
                      class="btn btn-secondary text-white float-right mr-2">
                      <i class="fa fa-times"></i>
                      Cancel
                    </button>
                  </div>

                  <div class="col-lg-12 text-white">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="shownewButtonWeightDim"
                      [disabled]="delivered == true" (click)="showHideDimWeight('New')"
                      class="btn btn-success color text-white float-right">
                      <i class="fa fa-plus"></i> Add New DM Weight
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" id="tab-4" class="tab-pane">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="table-responsive">
                    <table class="
                        table table-hover table-striped
                        dt-responsive
                        table-bordered
                      " cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Sr.</th>
                          <th>Notice Type</th>
                          <th>Is Mandatory</th>
                          <th>Is Received</th>
                          <th>Is Pending</th>
                          <th>N/A</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of InquiryResponse; let ndx = index">
                          <td>{{ ndx + 1 }}</td>
                          <td>
                            <a>{{ p.noticeType }}</a>
                          </td>
                          <td>
                            <input readonly type="checkbox" name="websitecheck" [checked]="p.mandatory"
                              value="{{ p.mandatory }}" onClick="return false" />
                          </td>
                          <td>
                            <input type="checkbox" name="IsRevieved" (click)="
                                checkDNR(
                                  p,
                                  IsRevieved.checked,
                                  'isRevievedCheck'
                                )
                              " [checked]="p.IsRevieved" #IsRevieved value="{{ p.IsRevieved }}"
                              [disabled]="delivered == true" />
                          </td>
                          <td>
                            <input type="checkbox" name="websitecheck" [checked]="p.IsPending" #IsPending (click)="
                                checkDNR(p, IsPending.checked, 'isPendingCheck')
                              " value="{{ p.IsPending }}" [disabled]="delivered == true" />
                          </td>
                          <td>
                            <input type="checkbox" name="websitecheck" [checked]="p.NA" #NA
                              (click)="checkDNR(p, NA.checked, 'NACheck')" value="{{ p.NA }}"
                              [disabled]="delivered == true" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12 text-white">
                  <button [disabled]="
                      delivered == true || InquiryResponse.length == 0
                    " type="button" class="btn btn-w-m btn-success color text-white float-right"
                    (click)="saveNotice()">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" id="tab-9" class="tab-pane">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="col-md-12" [hidden]="addnewAtt">
                  <form [formGroup]="weightForm" role="form">
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Select Attachment Type</label>
                          <div class="col-sm-8">
                            <select class="form-control" formControlName="atttypeID">
                              <option *ngFor="let p of AttachmentTypes" [value]="p.atttypeID">
                                {{ p.attType }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label" for="file">Choose File</label>
                          <div class="col-sm-9">
                            <input id="logo" type="file" #fileUpload id="fileUpload" name="fileUpload"
                              accept="image/x-png,image/jpg,image/jpeg,application/pdf" style="display: none" />
                            <div class="custom-file">
                              <input id="logo" type="" class="custom-file-input" (click)="onClick()" />
                              <label for="logo" class="custom-file-label">{{
                                fileName
                                }}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-lg-12" [hidden]="showAtt">
                  <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="table-responsive">
                      <table class="
                          table table-hover table-striped
                          dt-responsive
                          table-bordered
                        " cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>Attachment Type</th>
                            <th>File Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                              let p of attachmentResponse;
                              let ndx = index
                            ">
                            <td>{{ ndx + 1 }}</td>
                            <td>
                              <a>{{ p.attType }}</a>
                            </td>
                            <td>
                              <a>{{ p.fileName }}</a>
                            </td>
                            <td>
                              <button *ngIf="GV.canAddEdit_Agents" title="View" [disabled]="delivered == true"
                                class="btn btn-light color btn-sm m-1" (click)="viewImage(p)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <button [hidden]="true" type="button" data-toggle="modal" data-target=".bd-example89-modal-xl"
                          id="openModalforPDF" #openModalforPDF></button>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-md-12">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showeditButtonAtt" (click)="uploadFiles()"
                      class="btn btn-success color text-white float-right">
                      <i class="fa fa-pencil"></i> Update
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showSaveButtonAtt" (click)="uploadFiles()"
                      class="btn btn-success color text-white float-right">
                      <i class="fa fa-check"></i> Save
                    </button>
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="showCancelButtonAtt" (click)="showHideATT('Cancel')"
                      class="btn btn-secondary text-white mr-3 mb-0 float-right">
                      <i class="fa fa-times"></i>
                      Cancel
                    </button>
                  </div>
                  <div class="col-lg-12">
                    <button *ngIf="GV.canAddEdit_Agents" [hidden]="shownewButtonAtt" [disabled]="delivered == true"
                      (click)="showHideATT('New')" class="btn btn-success color text-white float-right mr-3">
                      <i class="fa fa-plus"></i> Add New Attachment
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="float-right">All Right <strong>Reserved</strong>.</div>
    <div><strong>Copyright</strong> Menzies RAS &copy; 2021</div>
  </div>
</div>

<div *ngIf="notifyAWBState == true" class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">
          Nature Of Goods Detail
        </h4>
        <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <app-nature-of-goods (notifyAWB)="notifyAWB($event)"></app-nature-of-goods>
    </div>
  </div>
</div>

<div class="modal fade bd-example1-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Forwader List</h4>
        <button type="button" class="close" data-dismiss="modal" #closeConsolidatorAWBModal aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body pt-1 pb-1">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="
                      table table-hover table-striped table-bordered
                      nowrap
                    " cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Sr.</th>
                        <th>agentName</th>
                        <th>agentType</th>
                        <th>countryName</th>
                        <th>cityName</th>
                        <th>PhoneNo</th>
                        <th>agentAddress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of ConsolidatorResponse; let ndx = index" (dblclick)="setConsolidatorDetail(p)">
                        <td>{{ ndx + 1 }}</td>
                        <td>{{ p.agentName }}</td>
                        <td>{{ p.agentType }}</td>
                        <td>{{ p.countryName }}</td>
                        <td>{{ p.cityName }}</td>
                        <td>{{ p.PhoneNo }}</td>
                        <td>{{ p.agentAddress }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="notifyComidState == true" class="modal fade bd-example2-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Commodity Details</h4>
        <button type="button" class="close" data-dismiss="modal" #closeCommodityModal aria-hidden="true">
          ×
        </button>
      </div>
      <app-commodity (notifyComid)="notifyComid($event)"></app-commodity>
    </div>
  </div>
</div>

<div *ngIf="notifyNewAgentTab1State == true" class="modal fade bd-example3-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Agents Details</h4>
        <button type="button" class="close" data-dismiss="modal" #closeAgentsModal aria-hidden="true">
          ×
        </button>
      </div>
      <app-agents (notifyNewAgentTab1)="notifyNewAgentTab1($event)"></app-agents>
    </div>
  </div>
</div>

<div *ngIf="notifyShipperState == true" class="modal fade bd-example4-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Shipper Details</h4>
        <button type="button" class="close" data-dismiss="modal" #closeShipperModal aria-hidden="true">
          ×
        </button>
      </div>
      <app-shipper (notifyShipper)="notifyShipper($event)"></app-shipper>
    </div>
  </div>
</div>

<div *ngIf="notifyConsigneeState == true" class="modal fade bd-example5-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Consignee Details</h4>
        <button type="button" class="close" data-dismiss="modal" #closeConsigneeModal aria-hidden="true">
          ×
        </button>
      </div>
      <app-consignee (notifyConsignee)="notifyConsignee($event)"></app-consignee>
    </div>
  </div>
</div>
<div *ngIf="notifyAWBState == true" class="modal fade bd-acceptanceRPT-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">
          Nature Of Goods Detail
        </h4>
        <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
    </div>
  </div>
</div>

<div class="modal fade bd-WeightRPT-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">
          Weight Detail
        </h4>
        <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <ngx-extended-pdf-viewer [src]="src" [useBrowserLocale]="true">
      </ngx-extended-pdf-viewer>
    </div>
  </div>
</div>

<div class="modal fade bd-example89-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">PDF</h4>
        <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <pdf-viewer style="display: block; width: 1100px; height: 1200px" [src]="pdfSrc" [external-link-target]="'blank'"
        [show-all]="false" [render-text]="true">
      </pdf-viewer>
    </div>
  </div>
</div>
<div *ngIf="notifyNotifyState == true" class="modal fade bd-notifyModal-modal-xl" id="view-assigned-group-role-modal"
  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Notify Detail</h4>
        <button type="button" class="close" data-dismiss="modal" #closeNotifyModal aria-hidden="true">
          ×
        </button>
      </div>
      <app-notify (notifyNotify)="notifyNotify($event)"></app-notify>
    </div>
  </div>
</div>