<div class="container emp-form mt-5">
    <div class="row mb-5">
        <div class="col-md-4">
            <div>
                <img src="~/Content/css/download.png" style="width: 55%; height: 52%; margin-top: 23px;">
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="mt-4 font-weight-bold">Employee Exit Form</h3>
        </div>
        <div class="col-md-4">
            <span class="float-right mt-4">
                Effective Date:01-Feb-21
            </span>
        </div>
    </div>



    <div class="basic-information">
        <div class="row ">
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Emp Code:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control" name="empId">
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Employee Name:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Date of Joining:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="date" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Gender:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Resignation Date:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="date" class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Last working Date:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="date" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Station:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Grade:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Designation:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Supervisor:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" readonly class="form-control" name="">
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="primary-reason mt-4">
        <p>Primary Reasons for Leaving: (More than one reason may be given if appropriate; if so, please tick as many)</p>
    </div>
    <div class="primary-reason-detail">
        <div class="row">
            <div class="primary-reason-detail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Career Move
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-control" value="">Career Move
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="primary-reason mt-4">
        <p>If accepting another employment, please specify employment information:</p>
    </div><div class="primary-reason-detail">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Career Move
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-control" value="">Career Move
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="primary-reason mt-4">
        <p>Job Feedback:</p>
    </div><div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/css/Capture.PNG" class="img-fluid" />
        </div>
    </div>
    <div class="statement-table table-responsive">
        <table>
            <tr>
                <td class="text-center">Statements</td>
                <td><span>1</span></td>
                <td><span>2</span></td>
                <td><span>3</span></td>
                <td><span>4</span></td>
                <td><span>5</span></td>
            </tr>
            <tr>
                <td>My supervisor demonstrated fair and equal treatment</td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
            </tr>
            <tr>

                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
                <td><input type="checkbox" name=""></td>
            </tr>
        </table>
    </div><div class="primary-reason mt-4">
        <p id="recommend">Would you recommend RAS as a good organization to work for?</p>
    </div><div class="row text-center">

        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>Yes</label>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>No</label>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>May Be</label>
                </label>
            </div>
        </div>

    </div><div class="primary-reason mt-4">
        <p id="future">I would consider working for this company again in the future.</p>
    </div><div class="row text-center">
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>Yes</label>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>No</label>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input oncheck recommend" name="recommend">
                    <label>May Be</label>
                </label>
            </div>
        </div>
    </div>
    <div class="primary-reason mt-4">
        <p>What has your new place of employment offered you that is more attractive than your present job?</p>
    </div>
    <div class="row">
        <div class="col-md-12">

            <textarea class="sttextarea" name="employementofferd" form="usrform"></textarea>
        </div>
    </div>
    <div class="primary-reason mt-4">
        <p>What are your recommendations or feedback for making RAS a better place to work?</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea class="sttextarea" name="recommendation" form="usrform"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <button class="btn btn-secondary" id="submitbtn" type="button">Submit</button>
        </div>
    </div>


</div>