<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-2 ">
        <h2 class="text-white">Examination</h2>
    </div>
    <div class="col-lg-2 Adjust">
        <h3 class="text-danger float-right mt-4 blinking blink_me" [hidden]="!holdShipmentStatus">Shipment on Hold!
        </h3>
    </div>
    <div class="col-lg-4 ">
        <h3 class="text-white float-right mt-4" [hidden]="editMode==false"><b style="color: white;">AWB Status:</b>
            {{AWBDetail.AWBStatus}}
        </h3>
    </div>
    <div class="col-lg-4 Adjust">
        <button type="button" class="forwardback btn-secondary text-white float-right color mt-2 mr-2"
            routerLink="/Export/Scanning">Next</button>
        <button type="button" class="forwardback btn-secondary text-white float-right color mt-2 mr-2"
            routerLink="/Export/Acceptance">Prev</button>
    </div>
</div>
<button class="btn btn-danger color text-white btn-sm m-1" id="ANFPopup" #ANFPopup name="ANFPopup" [hidden]="true"
    data-toggle="modal" data-target=".bd-example10-modal-xl"></button>

<div class="row wrapper border-bottom white-bg page-heading m-2 mt-2">
    <div class="col-lg-8">
        <br>
        <div class="form-group  row"><label class="col-sm-3 col-form-label">Enter AWB Number</label>
            <div class="col-sm-4"><input type="text" class="form-control" [(ngModel)]="AWBNo"
                    (keyup.enter)="getAWBDetail()" mask="000-0000-0000">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-w-m btn-success color text-white mr-3" (click)="getAWBDetail()"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button type="button" class="btn btn-w-m btn-secondary color text-white " (click)="resetAcceptance()"><i
                    class="fa fa-redo" aria-hidden="true"></i> Reset</button>
        </div>
    </div>
</div>
<form [formGroup]="AWBForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight ">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">AWB Number</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="AWBNo" readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">No. of Pieces.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Pieces" readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Gross Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="grossWeight"
                                readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Chargeable Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="chargeableWeight"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Commodity</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="comm_description"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Nature of Good</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Nature" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Acceptance Remarks</label>
                        <div class="col-sm-12"> <textarea readonly class="form-control"
                                formControlName="AcceptanceRemarks" maxlength="250" id="exampleFormControlTextarea1"
                                rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Examination Remarks</label>
                        <div class="col-sm-12"> <textarea class="form-control" formControlName="ExaminationRemarks"
                                maxlength="250" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="examinationForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-hover table-striped dt-responsive table-bordered " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <!-- <th>Select<br><input type="checkbox" name="checked" id="selectALL" #selectALL
                                    (click)="selectALLCheck(selectALL.checked)"></th> -->
                            <!-- <th>Action</th> -->
                            <th>Examination Type</th>
                            <th>Occurance</th>
                            <th>Completed</th>
                            <th>Pending</th>
                            <th>Exempt</th>
                            <th title="Examption Certificate No.">Exam Cert No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of responseExamination let ndx=index;">
                            <td>{{ndx+1}}</td>
                            <!-- <td><input type="checkbox" name="checked" [checked]="p.checked" value="{{p.checked}}"
                                    (change)="p.checked= !p.checked"
                                    [disabled]="!p.occurance && !p.completed && !p.pending && !p.exempt"></td> -->
                            <!-- <td>
                                <button [disabled]="delivered == true" title="Update"
                                    class="btn btn-warning color text-white btn-sm m-1" data-toggle="modal"
                                    (click)="editExamination(p)" data-target=".bd-example-modal-xl">
                                    <i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </td> -->
                            <td *ngIf="p.examinationType == 'ANF'"><a style="color: #337ab7;"
                                    (click)="viewANF(p)">{{p.examinationType}}</a>
                            </td>
                            <td *ngIf="p.examinationType != 'ANF'">{{p.examinationType}}</td>
                            <td><input type="checkbox" name="occurance"
                                    (click)="checkBoxesValidation(p, occurance.checked, 'occuranceCheck')"
                                    [checked]="p.occurance" #occurance value="{{p.occurance}}">
                            </td>
                            <td><input type="checkbox" name="completed"
                                    (click)="checkBoxesValidation(p, completed.checked, 'completedCheck')"
                                    [checked]="p.completed" #completed value="{{p.completed}}">
                            </td>
                            <td><input type="checkbox" name="pending"
                                    (click)="checkBoxesValidation(p, pending.checked, 'pendingCheck')"
                                    [checked]="p.pending" #pending value="{{p.pending}}">
                            </td>
                            <td><input type="checkbox" name="exempt"
                                    (click)="checkBoxesValidation(p, exempt.checked, 'exemptCheck')"
                                    [checked]="p.exempt" #exempt value="{{p.exempt}}">
                            </td>
                            <td><input type="text" id="anfCustomExemptionNo" #anfCustomExemptionNo
                                    name="anfCustomExemptionNo" style="width: 100px;" value="{{p.anfCustomExemptionNo}}"
                                    appTwoDigitDecimaNumber (change)="ExamNoChange(p, anfCustomExemptionNo)">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-w-m btn-success color float-right text-white mr-3"
                    *ngIf="this.responseExamination.length > 0" (click)="updateTable()"><i class="fa fa-pencil"
                        aria-hidden="true"></i>
                    Update</button>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">Examination Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" #examinationPopUpModel aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body mt-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group  row"><label class="col-sm-4 col-form-label">Examption
                                        Certificate No.</label>
                                    <div class="col-sm-8"><input type="text" class="form-control"
                                            formControlName="anfCustomExemptionNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group  row">
                                    <input type="checkbox" class="form-control" formControlName="occurance"
                                        id="occurance" checked>
                                    <label class="form-check-label ml-3">
                                        Occurance
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group  row"><input type="checkbox" class="form-control"
                                        formControlName="pending" id="pending" checked>
                                    <label class="form-check-label ml-3">
                                        Pending
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group  row"><input type="checkbox" class="form-control"
                                        formControlName="completed" id="completed" checked>
                                    <label class="form-check-label ml-3">
                                        Completed
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group  row"><input type="checkbox" class="form-control"
                                        formControlName="exempt" id="exempt" checked>
                                    <label class="form-check-label ml-3">
                                        Exempt
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group  row fadeInRight float-right pr-3">
                                    <button [disabled]="delivered == true" type="button"
                                        class="btn btn-w-m btn-success text-white color mt-5 float-right"
                                        (click)="SaveDetail()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>

<div class="modal fade bd-example10-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xss">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assignedGroupRoleModalLabel">ANF Date and Time</h4>
                <button type="button" class="close" data-dismiss="modal" #ANFModal aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Date & Time</label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control" id="datetimeANF"
                                                    #datetimeANF name="datetimeANF">
                                            </div>
                                        </div>
                                        <div class="form-group  row fadeInRight float-right pr-3">
                                            <button type="button" class="btn btn-w-m btn-success text-white color"
                                                (click)="saveDateTimeANF()">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>