<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
  <div class="col-lg-4 Adjust">
    <h2 class="text-white">Flights</h2>
  </div>
  <div class="col-lg-8 Adjust">
    <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" *ngIf="GV.canAddEdit_Flights"
      [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
    <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit_Flights"
      [hidden]="!showeditButton" (click)="saveFlights()"><i class="fa fa-pencil"></i> Update </button>
    <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit_Flights"
      [hidden]="!showSaveButton" (click)="saveFlights()"><i class="fa fa-check "></i>
      Save </button>
    <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" *ngIf="GV.canAddEdit_Flights"
      [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
      Add New Flight </button>
  </div>
</div>
<form [formGroup]="tableForm" role="form" class="bg-white m-2 mt-3">
  <div class="row col-md-12 wrapper border-bottom white-bg page-heading mt-2 m-2" [hidden]="!showFlights">
    <div class="col-md-4 mt-2">
      <br>
      <div class="input-group ">
        <label class="col-form-label">Airline</label>
        <select class="form-control ml-3" formControlName="ALCodeForTable">
          <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
            {{p.ALName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 mt-2">
      <br>
      <div class="input-group ">
        <button type="button" class="btn btn-lg btn-success" (click)="getFlights()"><i class="fa fa-search"
            aria-hidden="true"></i> Search</button>
      </div>
    </div>
  </div>
</form>
<form [formGroup]="FlightForm" role="form">
  <div class="row" [hidden]="!addnewFlight">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
          <div class="row">
            <div class="col-sm">
              <div class="form-group row"><label class="col-sm-4 col-form-label">Airline</label>
                <div class="col-sm-6"> <select class="form-control" formControlName="ALCode" (blur)="resetALL()"
                    [ngClass]="{ 'is-invalid': (submitted && f.ALCode.errors) || (submitted && f.ALCode.value == 0)}">
                    <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                      {{p.ALName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Flight Type</label>
                <div class="col-sm-6"> <select class="form-control" formControlName="flightType"
                    [ngClass]="{ 'is-invalid': submitted && f.flightType.errors }">
                    <option *ngFor="let p of responseFlightTypes">
                      {{p.flightType}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row"><label class="col-sm-4 col-form-label">Aircraft Reg No</label>
                <div class="col-sm-6"> <input type="text" formControlName="regNo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.regNo.errors }"
                    oninput="this.value = this.value.toUpperCase()">
                  <div *ngIf="submitted && f.regNo.errors" class="invalid-feedback">
                    <div *ngIf="f.regNo.errors.required">Aircraft Reg No. is required</div>
                    <div *ngIf="f.regNo.errors.minlength">Aircraft Reg No. must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Arrival Flight No</label>
                <div class="col-sm-6"> <input type="text" class="form-control" formControlName="arrivalFlightNo"
                    [ngClass]="{ 'is-invalid': submitted && f.arrivalFlightNo.errors }"
                    oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Arrival Destination</label>
                <div class="col-sm-6"> <input type="text" formControlName="Destination" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Destination.errors }"
                    oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Arrival Date</label>
                <div class="col-sm-6"><input type="date" class="form-control" formControlName="arrivalDate">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Arrival Time</label>
                <div class="col-sm-6"><input type="time" class="form-control" formControlName="arrivalTime">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Arrived?</label>
                <div class="col-sm-6"> <input type="checkbox" class="i-checks check" formControlName="isArrived">
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group row"><label class="col-sm-4 col-form-label">Aircraft Type</label>
                <div class="col-sm-6"> <select class="form-control" formControlName="aircraftTypeID"
                    (blur)="selectCategory()" [ngClass]="{ 'is-invalid': submitted && f.aircraftTypeID.errors }">
                    <option *ngFor="let p of aircraftTypesResponse" [value]="p.aircraftTypeID">
                      {{p.aircraftTypeName}}</option>
                  </select>

                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Category Name</label>
                <div class="col-sm-6"><input type="text" formControlName="aircraftCategoryName" class="form-control"
                    readonly>
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Departure Flight No</label>
                <div class="col-sm-6"> <input type="text" formControlName="depFlightNo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.depFlightNo.errors }"
                    oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Departure Destination</label>
                <div class="col-sm-6"> <input type="text" formControlName="depDestination" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.depDestination.errors }"
                    oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Departure Date</label>
                <div class="col-sm-6"><input type="date" class="form-control" formControlName="depDate">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Departure Time</label>
                <div class="col-sm-6"><input type="time" class="form-control" formControlName="depTime">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-4 col-form-label">Departured?</label>
                <div class="col-sm-6"> <input type="checkbox" class="i-checks check" formControlName="isDepartured">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <div class="row mt-2" [hidden]="!showFlights">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="ibox-content">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Sr.</th>
                    <th>Action</th>
                    <th>Arrival Flight No.</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Arrival Dest</th>
                    <th>Arrived?</th>
                    <th>Dep Flight No.</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Departure Dest</th>
                    <th>Dep?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of responseFlight let ndx=index;">
                    <td>{{ndx+1}}</td>
                    <td>
                      <button *ngIf="GV.canAddEdit_Flights" class="btn btn-success color text-white btn-sm m-1"
                        title="Edit" (click)="editAirLines(p)"> <i class="fa fa-edit"
                          aria-hidden="true"></i></button>
                    </td>
                    <td>{{p.arrivalFlightNo}}</td>
                    <td>{{p.arrivalDate | date}}</td>
                    <td>{{p.arrivalTime}}</td>
                    <td>{{p.Destination}}</td>
                    <td><input type="checkbox" name="isArrived" [checked]="p.isArrived" value="{{p.isArrived}}"
                        onClick="return false"></td>
                    <td>{{p.depFlightNo}}</td>
                    <td>{{p.depDate | date}}</td>
                    <td>{{p.depTime}}</td>
                    <td>{{p.depDestination}}</td>
                    <td><input type="checkbox" name="isDepartured" [checked]="p.isDepartured" value="{{p.isDepartured}}"
                        onClick="return false"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="float-right">
      All Right <strong>Reserved</strong>.
    </div>
    <div>
      <strong>Copyright</strong> Menzies RAS &copy; 2021
    </div>
  </div>
</form>