<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
  <div class="col-lg-3 Adjust">
    <h2 class="text-white">Manifest</h2>
  </div>
  <div class="col-lg-7 Adjust">
    <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" *ngIf="GV.canAddEdit"
      [hidden]="!showCancelButton" (click)="showhide('Cancel'); resetManifest()">
      <i class="fa fa-redo"></i> Reset
    </button>
    <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit"
      [hidden]="!showeditButton" (click)="saveManifest('New')">
      <i class="fa fa-pencil"></i> Update
    </button>
    <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" *ngIf="GV.canAddEdit"
      [hidden]="!showSaveButton" (click)="saveManifest('Update')">
      <i class="fa fa-check"></i> Save
    </button>
  </div>
  <div class="col-lg-2 Adjust">
    <button type="button" class="forwardback btn-secondary text-white float-right color mt-2 mr-2"
      routerLink="/Export/BuildUp">
      Prev
    </button>
  </div>
</div>
<form [formGroup]="ManifestForm" role="form" class="bg-white m-2 mt-3">
  <div class="row wrapper white-bg page-heading mt-2 m-2">
    <div class="col-md-3 mt-2">
      <br />
      <div class="input-group">
        <label class="col-form-label"> Airline</label>
        <select class="form-control ml-2" formControlName="ALCodeTable">
          <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
            {{ p.ALName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3 mt-2">
      <br />
      <div class="input-group">
        <label class="col-form-label">Flight No.</label>
        <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control ml-2"
          formControlName="FlightNoTable" placeholder="Enter Flight No." (keyup.enter)="getManifestDetail()" />
      </div>
    </div>
    <div class="col-md-3 mt-2">
      <br />
      <div class="input-group">
        <label class="col-form-label"> Select Date</label>
        <input type="date" class="form-control ml-2" formControlName="DateTable" (keyup.enter)="getManifestDetail()" />
      </div>
    </div>
    <div class="col-md-1 mt-2">
      <br />
      <div class="input-group">
        <button type="submit" title="Search" class="btn btn-w-m btn-success color text-white color ml-2"
          (click)="getManifestDetail()">
          <i class="fa fa-search" aria-hidden="true"></i> Search
        </button>
      </div>
    </div>
    <div class="col-md-1 mt-2">
      <br />
      <button type="button" (click)="getULDs()" class="btn btn-w-m btn-success color text-black color ml-5" data-toggle="modal"
        data-target=".bd-ULD-modal-xl">
        <i class="fa fa-plus" aria-hidden="true"></i> ADD NEW
      </button>
    </div>
  </div>
</form>
<form [formGroup]="ManifestForm" role="form" class="bg-white m-2 mt-3" *ngIf="this.ULDArr.length > 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <button class="btn btn-sm mt-2 ml-2 titlee">ULD's</button>
                <table class="table table-hover table-striped table-bordered nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Action</th>
                      <th>&nbsp;&nbsp;ULD&nbsp;No.&nbsp;&nbsp;</th>
                      <th>&nbsp;&nbsp;ULD&nbsp;Type&nbsp;&nbsp;</th>
                      <th>ULD&nbsp;Gross&nbsp;WT</th>
                      <th>Deck&nbsp;Location</th>
                      <th>Contour&nbsp;Type</th>
                      <th>&nbsp;&nbsp;Priority&nbsp;&nbsp;</th>
                      <th>&nbsp;&nbsp;QRT&nbsp;Flight&nbsp;&nbsp;</th>
                      <th>QRTU&nbsp;Loading&nbsp;Point</th>
                      <th>&nbsp;QRT&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="this.ULDArr.length > 0">
                    <tr *ngFor="let p of ULDArr; let ndx = index" (dblclick)="viewAirwayBills(p)">
                      <td>{{ ndx + 1 }}</td>
                      <td>
                        <button *ngIf="GV.canAddEdit" class="btn btn-success text-white color btn-sm m-1" title="Edit"
                          (click)="editULDDetail(p)" data-toggle="modal" data-target=".bd-example5-modal-xl">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="GV.canAddEdit" class="btn btn-danger text-white color btn-sm m-1" title="Remove"
                          (click)="removeULDDetailNotConfirm(p)"><i class="fas fa-minus-circle" aria-hidden="true"></i>
                        </button>
                      </td>
                      <td>{{ p.ULDNo }}</td>
                      <td>{{ p.ULDType }}</td>
                      <td>{{ p.uldgrossWeight }}</td>
                      <td>{{ p.deckLocation }}</td>
                      <td>{{ p.ContourType }}</td>
                      <td>{{ p.priority }}</td>
                      <td>{{ p.QRTFlight }}</td>
                      <td>{{ p.QRTULoadingPt }}</td>
                      <td>
                        <input readonly type="checkbox" [checked]="p.QRT" value="{{ p.QRT }}" onClick="return false" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade bd-example5-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xsmm">
    <form [formGroup]="PopupForm" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="assignedGroupRoleModalLabel">
            Manifest Detail
          </h4>
          <button type="button" class="close" data-dismiss="modal" #manifestPopUpModel aria-hidden="true">
            ×
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                  <div class="row">
                    <div class="col-sm">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Priority</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="priority">
                            <option value="P-1">P-1</option>
                            <option value="P-2">P-2</option>
                            <option value="P-3">P-3</option>
                            <option value="P-4">P-4</option>
                            <option value="P-5">P-5</option>
                            <option value="P-6">P-6</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">QRT Flight No.</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="QRTFlight"
                            oninput="this.value = this.value.toUpperCase()" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label ml-5">QRT Unload</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                            formControlName="QRTULoadingPt" maxlength="3" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label ml-5">QRT</label>
                        <div class="col-sm-2">
                          <input type="checkbox" class="form-control" formControlName="QRT" id="QRT" #QRT
                            (click)="QRTChecked(QRT.checked)" />
                        </div>
                      </div>
                      <div class="form-group row fadeInRight float-right pr-3">
                        <button type="button" [hidden]="editDetail == true"
                          class="btn btn-w-m btn-success text-white color mt-5" (click)="saveULDDetail()">
                          ADD
                        </button>
                        <button type="button" [hidden]="editDetail == false"
                          class="btn btn-w-m btn-success text-white color mt-5" (click)="saveULDDetail()">
                          UPDATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade bd-ULD-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Add By Build UP</h4>
        <button type="button" class="close" data-dismiss="modal" #closeULDSModal aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body pt-1 pb-1">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="
              table table-striped table-hover
              dt-responsive
              display
              nowrap
              " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%">
                    <thead>
                      <tr>
                        <th>Sr.</th>
                        <th>Select</th>
                        <th>ULD No.</th>
                        <th>ULD Type</th>
                        <th>Deck Location</th>
                        <th>Contour Type</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="this.buildupModel.length > 0">
                      <tr *ngFor="let p of buildupModel; let ndx = index" (dblclick)="selectBuildUPULD(p)">
                        <td>{{ ndx + 1 }}</td>
                        <td>
                          <input type="checkbox" name="checked" [checked]="p.checked" value="{{ p.checked }}"
                            (change)="p.checked = !p.checked" />
                        </td>
                        <td>{{ p.ULDNo }}</td>
                        <td>{{ p.ULDType }}</td>
                        <td>{{ p.deckLocation }}</td>
                        <td>{{ p.ContourType }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <button type="button" [hidden]="this.buildupModel.length == 0" (click)="pushULDs()" class="
                 btn btn-w-m btn-success
                 text-white
                 color
                 mt-5
                 float-right
                 ">
                      ADD
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button [hidden]="true" type="button" data-toggle="modal" data-target=".bd-AirwayBills-modal-xfl"
          id="AirwayBills" #AirwayBills></button>

      </div>
    </div>
  </div>
</div>
<div class="footer row">
  <div id="outer">
    <!-- <div class="inner">
        <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black">
          RCS
        </button>
      </div> -->
    <!-- <div class="inner">
        <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black">
          FHL
        </button>
      </div> -->
    <!-- <div class="inner">
        <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black">
          FFM
        </button>
      </div> -->
    <div class="inner">
      <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black" data-toggle="modal"
        data-target=".bd-FWB-modal-xl" (click)="generateFWB()">
        FWB
      </button>
    </div>
    <div class="inner">
      <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black" data-toggle="modal"
        data-target=".bd-UWS-modal-xl" (click)="generateUWS()">
        UWS
      </button>
    </div>
    <div class="inner">
      <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black" data-toggle="modal"
        data-target=".bd-NOTOC-modal-xl" (click)="genereateNOTOC()">
        NOTOC
      </button>
    </div>
    <!-- <div class="inner">
        <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black">
          USMOUT
        </button>
      </div> -->
    <div class="inner">
      <button type="button" class="btn btn-w-mmm ml-2 btn-light text-black" data-toggle="modal"
        data-target=".bd-ManifestReport-modal-xl" (click)="generateManifest()">
        MANIFEST
      </button>
    </div>
  </div>
</div>

<div class="modal fade bd-UWS-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <input type="button" value="Print" (click)="print()" />
        </div>
        <div>
          <input type="button" value="Send in Email" class="ml-2 mr-2" (click)="convetToPDF()" />
        </div>
        <button type="button" class="close" data-dismiss="modal" #EmailTypeModal aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="UWSForm" role="form">
          <div id="contentToConvert">
            <div class="table-responsive text-center">
              <table class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr class="text-center">
                    <td colspan="7">
                      <div>
                        <img style="height: 50px; width: 175px" src="/assets/img/1616682659957.jpg" />
                      </div>
                    </td>
                    <td colspan="5">
                      <b style="color: black">PALLET&nbsp;WEIGHT&nbsp;STATEMENT</b>
                    </td>
                    <td colspan="3">
                      <b style="color: black">Generated&nbsp;Date:&nbsp;&nbsp;04-Oct-2021&nbsp;15:02</b>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="col-md-12">
              <table class="
              table table-hover table-striped
              dt-responsive
              table-bordered
              " cellspacing="0" width="100%" style="border: 3px solid black">
                <thead>
                  <tr class="text-center">
                    <td colspan="7">
                      <b style="color: black">Flight No. &
                        Date</b>:QR0605-KHI-DOH-04-Oct-2021
                    </td>
                    <td colspan="5">
                      <b style="color: black">Equipment Type</b>:77N
                    </td>
                    <td colspan="3">
                      <b style="color: black">Registration</b>:A7BAY
                    </td>
                    <td><b style="color: black">Version</b>:2</td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="col-md-12 float-left">
              <hr class="hq" />
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <b><u>ULD DETAILS</u></b>
              </div>
              <br />
            </div>
            <div class="table-responsive text-center">
              <table class="
                       table table-hover table-striped
                       dt-responsive
                       table-bordered
                       " cellspacing="0" width="100%" style="border: 3px solid black">
                <thead>
                  <tr>
                    <th>SI No</th>
                    <th>Unit Number</th>
                    <th>Mnfst Wt</th>
                    <th>Act Wt</th>
                    <th>Tare Wt</th>
                    <th>Wt Unit</th>
                    <th>Type</th>
                    <th>Dest</th>
                    <th>Handling Priority</th>
                    <th>Load Catagory</th>
                    <th>SHC</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of UWSResponseModel; let ndx = index">
                    <td>{{ ndx + 1 }}</td>
                    <td>{{ p.ULDType + p.ULDNo }}</td>
                    <td>{{ p.grossWeight }}</td>
                    <td>{{ p.uldgrossWeight }}</td>
                    <td>{{ p.taraWeight }}</td>
                    <td>K</td>
                    <td>{{ p.ContourType }}</td>
                    <td>{{ p.depDestination }}</td>
                    <td>2</td>
                    <td>C</td>
                    <td>{{ p.handlingCodes }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-NOTOC-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <input type="button" value="Print" (click)="print()" />
        </div>
        <div>
          <input type="button" value="Send in Email" class="ml-2 mr-2" (click)="convetToPDF()" />
        </div>
        <button type="button" class="close" data-dismiss="modal" #EmailTypeModal aria-hidden="true">
          ×
        </button>
      </div>
      <div id="contentToConvert2">
        <div class="modal-body">
          <form [formGroup]="NOTOCForm" role="form">
            <div class="col-md-12 mt-2">
              <div class="col-md-2 float-left">
                <img src="../../../../assets/img//1616682659957.jpg" />
              </div>
              <div class="col-md-4 text-center float-left mt-5">
                <b>
                  <h5 class="text-dark" style="padding: 56px 0px 0px 45px">
                    <b style="color: black">SPECIAL LOAD - NOTIFICATION TO CAPTAIN</b>
                  </h5>
                </b>
              </div>
              <div class="col-md-2 text-center float-left mt-5" style="padding: 56px 0px 0px 0px; color: black">
                <b>
                  <h5 class="text-dark">
                    <b style="color: black">Version Number:Null</b>
                  </h5>
                </b>
              </div>
              <div class="col-md-3 mt-5 float-left text-center" style="padding: 56px 0px 0px 0px">
                <b>
                  <h5 class="text-dark">
                    <b style="color: black">Generated Date:&nbsp; &nbsp;
                      {{ today | date: "dd/MMM/yyyy" }}</b>
                  </h5>
                </b>
              </div>
            </div>
            <div class="col-md-12">
              <table class="table" style="border: 3px solid black">
                <thead style="color: black">
                  <tr class="text-dark">
                    <td colspan="3">
                      <b style="color: black">Station of Loading KHI</b>
                    </td>
                    <td colspan="2">
                      <b style="color: black">Flight Number:{{
                        NOTOCForm.controls.depFlightNo.value
                        }}</b>
                    </td>
                    <td colspan="3">
                      <b style="color: black">{{
                        NOTOCForm.controls.depDate.value | date: "dd/MMM/yyyy"
                        }}</b>
                    </td>
                    <td colspan="3">
                      <b style="color: black">Aircraft Registration:{{
                        NOTOCForm.controls.regNo.value
                        }}</b>
                    </td>
                    <td colspan="4">
                      <b style="color: black">Prepared By:{{
                        NOTOCForm.controls.EmployeeName.value
                        }}</b>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="15">
                      <b style="color: black">Dangerous Goods</b>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="13"><b></b></td>
                    <td colspan="2" style="background-color: #bfbfbf">
                      <b style="color: black">LOADED</b>
                    </td>
                  </tr>
                  <tr class="text-center" style="background-color: #bfbfbf">
                    <td><b style="color: black">Station of unloading</b></td>
                    <td><b style="color: black">Air WayBill Number</b></td>
                    <td><b style="color: black">Proper Shipping Name</b></td>
                    <td>
                      <b style="color: black">Class or Division For Class 1 compt.Grp</b>
                    </td>
                    <td><b style="color: black">UN or ID Number</b></td>
                    <td><b style="color: black">Sub Risk</b></td>
                    <td><b style="color: black">Number of Pakages</b></td>
                    <td>
                      <b style="color: black">Net Quantity or Transp.Ind per Package</b>
                    </td>
                    <td>
                      <b style="color: black">Radioactivity Meterial Category</b>
                    </td>
                    <td><b style="color: black">Packing group</b></td>
                    <td><b style="color: black">Code (see reserve)</b></td>
                    <td>
                      <b style="color: black">CAO<br />(X)</b>
                    </td>
                    <td><b style="color: black">ERG CODE</b></td>
                    <td><b style="color: black">ULD ID</b></td>
                    <td><b style="color: black">Position on Compt</b></td>
                  </tr>
                  <tr class="text-center text-dark">
                    <td colspan="15"><b style="color: black">NIL</b></td>
                  </tr>
                  <tr class="text-dark">
                    <td colspan="15">
                      <b style="color: black">OTHER SPECIAL LOAD</b>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="13"><b></b></td>
                    <td colspan="2" style="background-color: #bfbfbf; color: black">
                      <b>LOADED</b>
                    </td>
                  </tr>
                  <tr class="text-center" style="background-color: #bfbfbf">
                    <td><b style="color: black">Station of unloading</b></td>
                    <td colspan="2">
                      <b style="color: black">Air WayBill Number</b>
                    </td>
                    <td colspan="4">
                      <b style="color: black">Proper Shipping Name</b>
                    </td>
                    <td><b style="color: black">Number of Pakages</b></td>
                    <td><b style="color: black">Quantity </b></td>
                    <td colspan="3">
                      <b style="color: black">Supplementary Information</b>
                    </td>
                    <td><b style="color: black">Code (see reserve)</b></td>
                    <td><b style="color: black">ULD ID</b></td>
                    <td><b style="color: black">Position on Compt</b></td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-dark" *ngFor="let p of NOTOCResponseModel; let ndx = index">
                    <td>
                      <b style="color: black">{{ p.Destination }}</b>
                    </td>
                    <td colspan="2">
                      <b style="color: black">{{ p.AWBNo }}</b>
                    </td>
                    <td colspan="4">
                      <b style="color: black">{{ p.comm_description }}</b>
                    </td>
                    <TD><b style="color: black">{{ p.builduppieces }}</b></TD>
                    <TD><b style="color: black">{{ p.buildupweight }}</b></TD>
                    <TD colspan="3"></TD>
                    <TD><b style="color: black">{{ p.handlingCodes }}</b></TD>
                    <TD><b style="color: black">{{ p.ULDType }}{{ p.ULDNo }}</b></TD>
                    <TD></TD>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12 mt-5" style="color: black">
              <hr height="20px" color="black" />
              <div class="col-md-4 float-left">
                Copyright&copy;2021 Menzies-RAS
              </div>
              <div class="col-md-4 float-left text-center"></div>
              <div class="col-md-4 float-left text-right"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-FWB-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">
          New Message
        </h4>
        <button type="button" class="close" data-dismiss="modal" #EmailTypeModal aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="EmailForm" role="form">
              <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                  <div class="row">
                    <div class="col-sm">
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <ckeditor formControlName="email_Body"></ckeditor>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <div class="form-group row">
                        <label class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-8">
                          <button type="button" class="btn btn-w-m btn-success color text-white float-right">
                            <i class="fa fa-paper-plane mr-1" aria-hidden="true"></i>
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-ManifestReport-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="assignedGroupRoleModalLabel">Manifest Detail</h4>
        <button type="button" class="close" #closeRCSDetail data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <ngx-extended-pdf-viewer [src]="src" [useBrowserLocale]="true">
      </ngx-extended-pdf-viewer>
    </div>
  </div>
</div>
<div class="modal fade bd-AirwayBills-modal-xfl" id="view-assigned-group-role-modal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
        <h4 class="modal-title" id="viewLeaveModelLabel">Airway Bills</h4>
        <button type="button" class="close" data-dismiss="modal" #AirwayBillsModal aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body pt-1 pb-1">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="
                             table table-hover table-striped table-bordered
                             nowrap
                             Mtable
                             " cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Sr.</th>
                        <th>&nbsp;&nbsp;ULD&nbsp;No.&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;ULD&nbsp;Type&nbsp;&nbsp;</th>
                        <th>
                          &nbsp;&nbsp;&nbsp;&nbsp;AWB&nbsp;No.&nbsp;&nbsp;&nbsp;&nbsp;
                        </th>
                        <th>&nbsp;&nbsp;AWB&nbsp;Pcs&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;Build&nbsp;UP&nbsp;Pcs&nbsp;&nbsp;</th>
                        <th>Airway&nbsp;Bill&nbsp;Gross&nbsp;WT</th>
                        <th>&nbsp;&nbsp;Build&nbsp;UP&nbsp;WT&nbsp;&nbsp;</th>
                        <th>&nbsp;Chargeable&nbsp;WT&nbsp;</th>
                        <th>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commodity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </th>
                        <th>&nbsp;&nbsp;Destination&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;Contour&nbsp;Type&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;GD&nbsp;No.&nbsp;&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="this.AirWayBills.length > 0">
                      <tr *ngFor="let p of this.AirWayBills; let ndx = index">
                        <td>{{ ndx + 1 }}</td>
                        <td>{{ p.ULDNo }}</td>
                        <td>{{ p.ULDType }}</td>
                        <td>{{ p.AWBNo }}</td>
                        <td>{{ p.Pieces }}</td>
                        <td>{{ p.builduppieces }}</td>
                        <td>{{ p.grossWeight }}</td>
                        <td>{{ p.buildupweight }}</td>
                        <td>{{ p.chargeableWeight }}</td>
                        <td>{{ p.comm_description }}</td>
                        <td>{{ p.Destination }}</td>
                        <td>{{ p.ContourType }}</td>
                        <td>{{ p.GDNo }}</td>
                        <!-- <td><input readonly type="checkbox" [checked]="p.EDD" value="{{p.EDD}}"
                                      onClick="return false"></td> -->
                        <!-- <td><input readonly type="checkbox" [checked]="p.isChecked" value="{{p.isChecked}}"
                                      onClick="return false"></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>