<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-10 Adjust">
        <h2 class="text-white">Notice Type</h2>
    </div>
    <div class="col-md-2 mt-3">

    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <!-- <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showeditButton" (click)="saveNoticeType()"
                class="btn btn-success color text-white"><i class="fa fa-pencil"></i> Update </a> -->
            <button (click)="saveNoticeType()" class="btn btn-w-m btn-success text-white color mr-2"><i
                    class="fa fa-check "></i>
                Save </button>
            <button (click)="resetForm()" class="btn btn-w-m btn-secondary color text-white"><i
                    class="fa fa-redo mr-1"></i> Reset </button>
        </div>
    </div>
</div>
<form [formGroup]="noticeForm" role="form" class="bg-white m-2 p-1 mt-3">
    <div class="row wrapper border-bottom white-bg page-heading m-2 mt-2">
        <div class="col-lg-12">
            <br>
            <div class="col-sm">
                <div class="form-group col-md-5 float-left"><label class="col-sm-4 col-form-label">
                        Airline</label>
                    <select class="form-control " formControlName="ALCode" (change)="getGoods()">
                        <option *ngFor="let p of responseAirLines" [value]="p.ALCode">{{p.ALName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group  col-md-5 float-left"><label class="col-sm-4 col-form-label">Goods Type</label>
                    <select class="form-control " formControlName="goodsId" (blur)="getNoticeTypes()">
                        <option *ngFor="let p of responseGoods" [value]="p.goodsId">{{p.Nature}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-md-2 float-left">
                    <div class="title-action">
                        <button type="button" class="btn btn-w-m btn-success color text-white mt-3" data-toggle="modal"
                            data-target=".bd-example5-modal-xl"><i class="fa fa-plus mr-1"></i>Add New Notice
                            Type</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Notice Type</th>
                                        <th>Region</th>
                                        <th>Is Mandatory</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of noticeTypeRequest.noticeDetail let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td>{{p.noticeType}}</td>
                                        <td>{{p.Region}}</td>
                                        <td><input readonly type="checkbox" name="mandatory" [checked]="p.mandatory"
                                                value="{{p.mandatory}}" onClick="return false"></td>
                                        <td>
                                            <button class="btn btn-success color text-white btn-sm m-1" title="Edit"
                                                (click)="editNoticeTypes(p)" data-toggle="modal"
                                                data-target=".bd-example5-modal-xl"> <i class="fa fa-edit"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>



    <div class="modal fade bd-example5-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">New Notice Type</h4>
                    <button type="button" class="close" data-dismiss="modal" #newNoticeType aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="ibox-content p-xl">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Notice Type Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Notice Type" class="form-control"
                                                        formControlName="noticeType">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Notice Type Name</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" formControlName="Region">
                                                        <option>Non Europe</option>
                                                        <option>Europe</option>
                                                        <option>USA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Is Mandatory?</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" formControlName="mandatory"
                                                        type="checkbox" value="" id="mandatory" checked>
                                                </div>
                                            </div>
                                            <div class="form-group  row fadeInRight float-right pr-3">
                                                <button [hidden]="editDetail == true" type="button"
                                                    class="btn btn-w-m btn-success text-white color"
                                                    (click)="pushNoticeType()">Add</button>
                                                <button [hidden]="editDetail == false" type="button"
                                                    class="btn btn-w-m btn-success text-white color"
                                                    (click)="pushNoticeType()">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>