<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-3 ">
        <h2 class="text-white">Assign Roles</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <table class="table table-striped table-hover dt-responsive display nowrap" datatable
                    [dtOptions]="dtOptions0" [dtTrigger]="dtTrigger0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Action</th>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of EmployeeInfoModal let ndx=index;">
                            <td>{{ndx+1}}</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#assign-group-role-modal"
                                    (click)="AssignGroup(p);">Assign Role</a> <span> | </span>
                                <a (click)="ResetPasswordtoDefault(p.EmployeeRefNo);" style="color: #337ab7;">Reset Password</a>
                            </td>
                            <td>{{p.EmployeeRefNo}}</td>
                            <td>{{p.EmployeeName}}</td>
                            <td>{{p.DesignationTitle}}</td>
                            <td>{{p.DepartmentName}}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assign-group-role-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Assign Role(s)</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignGroupModal aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body" style="min-height: 550px;">
                <form class="pl-3 pr-3" #assignRoleToGroupForm="ngForm" autocomplete="off"
                    (ngSubmit)="assignNewRolesToGroup(assignRoleToGroupForm)">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Employee Name</label>
                                <input type="text" class="form-control" value="{{employeeName}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                            <label for="exampleFormControlSelect2">Select Role</label>
                                <ng-multiselect-dropdown [placeholder]="'Assign Role'" [data]="systemGroupModle"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectAll($event)"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button [disabled]="!assignRoleToGroupForm.form.valid" class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assignedGroupRoleModalLabel">Assigned Role(s)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover dt-responsive display nowrap" datatable
                                [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Role Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of ViewGroupResponseModel">
                                        <td>
                                            {{p.GroupName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>