<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-10 Adjust">
        <h2 class="text-white">ULD Stock</h2>
    </div>
</div>

<form [formGroup]="tableForm" role="form" class="bg-white m-2 mt-3">
    <div class="row col-md-12 wrapper border-bottom white-bg page-heading mt-2 m-2" [hidden]="!showStock">
        <div class="col-md-4 mt-2">
            <br>
            <div class="input-group ">
                <label class="col-form-label">Airline</label>
                <select class="form-control ml-3" formControlName="ALCode">
                    <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                        {{p.ALName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <br>
            <div class="input-group ">
                <button type="button" class="btn btn-lg btn-success" (click)="getULDStockAll()"><i class="fa fa-search"
                        aria-hidden="true"></i> Search</button>
            </div>
        </div>
    </div>
</form>

<form role="form" class="bg-white m-2 mt-3 p-3">
    <div class="row mt-2" [hidden]="!showStock">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>ULD Type</th>
                                    <th>ULD's</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of responseULDStockDuplicate let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td><a>{{p.ULDType }}</a></td>
                                    <td>{{p.ULDs}}</td>
                                    <td *ngIf="p.ULDs == 1">
                                        <button class="btn btn-light  btn-sm m-1" title="View"
                                            (click)="viewULDDetailOnePopup(p)" data-toggle="modal"
                                            data-target=".bd-example6-modal-xl"> <i class="fa fa-eye"
                                                aria-hidden="true"></i> </button>
                                    </td>
                                    <td *ngIf="p.ULDs > 1">
                                        <button class="btn btn-light  btn-sm m-1" title="View"
                                            (click)="viewULDDetailTwo(p)" data-toggle="modal"
                                            data-target=".bd-example7-modal-xl"> <i class="fa fa-eye"
                                                aria-hidden="true"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>


<div class="modal fade bd-example6-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="ULDDetailForm" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">ULD Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" #addULDModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="ibox-content p-xl">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">ULD Type</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="ULDType"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">ULD No.</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="ULDID"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Tare Weight</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="taraWeight"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Max Gross
                                                    Weight</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="maxGrossWeight" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Is Issued?</label>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" class="form-control"
                                                        formControlName="isIssued" onClick="return false">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    Status</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="status"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    Flight Status</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="flightStatus" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    BuildUP Status</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="buildupStatus" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Service
                                                    Ability</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="serviceAbility" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bd-example7-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="ULDDetailForm" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">ULD Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" #addULDModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                        class="table table-hover table-striped dt-responsive table-bordered"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Sr.</th>
                                                <th>ULD Type</th>
                                                <th>Max Gross WT</th>
                                                <th>Tara WT</th>
                                                <th>Status</th>
                                                <th>Flight Status</th>
                                                <th>BuildUP Status</th>
                                                <th>Service Ability</th>
                                                <th>Is Issued</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of newArrayforULDStock let ndx=index;">
                                                <td>{{ndx+1}}</td>
                                                <td>{{p.ULDType }}</td>
                                                <td>{{p.maxGrossWeight }}</td>
                                                <td>{{p.taraWeight }}</td>
                                                <td>{{p.status }}</td>
                                                <td>{{p.flightStatus }}</td>
                                                <td>{{p.buildupStatus }}</td>
                                                <td>{{p.serviceAbility }}</td>
                                                <td><input readonly type="checkbox" name="isIssued"
                                                        [checked]="p.isIssued" value="{{p.isIssued}}"
                                                        onClick="return false"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="modal fade bd-example8-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="ULDDetailForm" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">ULD Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" #addULDModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="ibox-content p-xl">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">ULD Type</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="ULDType"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">ULD No.</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="ULDID"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Is Issued?</label>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" class="form-control"
                                                        formControlName="isIssued" onClick="return false">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Tare Weight</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="taraWeight"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Max Gross
                                                    Weight</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="maxGrossWeight" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    Status</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="status"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Service
                                                    Ability</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                        formControlName="serviceAbility" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->