<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Surveys</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton"
            (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton"
            (click)="addSurvey()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton"
            (click)="addSurvey()"><i class="fa fa-check "></i>
            Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton"
            (click)="showhide('New')"><i class="fa fa-plus"></i>
            Add New Survey </button>
    </div>
</div>

<form [formGroup]="surveyForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group row"><label class="col-sm-2 col-form-label">Survey Name</label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="surveryName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.surveryName.errors }">
                                    <div *ngIf="(surveyForm.controls['surveryName'].invalid && surveyForm.controls['surveryName'].touched) || surveyForm.controls['surveryName'].dirty"
                                        class="text-left">
                                        <small *ngIf="surveyForm.controls['surveryName'].errors?.required"
                                            class="text-danger">Survery Name is required!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row mt-2" [hidden]="!showSurvey">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Survey Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of surveyModelResponse let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td>{{p.surveryName}}</td>
                                        <td>
                                            <button mat-icon-button title="Edit">
                                                <mat-icon aria-label="Example icon-button with a heart icon"
                                                    (click)="editSurvey(p)">edit</mat-icon>
                                            </button>
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>