<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Email Module</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" (click)="resetForm()"><i
                class="fa fa-redo "></i> Reset </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" (click)="saveEmails()"><i
                class="fa fa-check "></i> Save </button>
    </div>
</div>
<form [formGroup]="EmailForm" role="form" class="bg-white m-2 p-1 mt-3">
    <div class="row wrapper border-bottom white-bg page-heading m-2 mt-2">
        <div class="col-lg-12">
            <br>
            <div class="col-sm">
                <div class="form-group col-md-5 float-left"><label class="col-sm-4 col-form-label">
                        Airline</label>
                    <select class="form-control " formControlName="ALCode" (change)="getMessageTypes()">
                        <option *ngFor="let p of responseAirLines" [value]="p.ALCode">{{p.ALName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group  col-md-5 float-left"><label class="col-sm-4 col-form-label">Message Type</label>
                    <select class="form-control " formControlName="messageID" (blur)="getEmails()">
                        <option *ngFor="let p of messageType" [value]="p.messageID">{{p.MessageType}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-md-2 float-left">
                    <div class="title-action">
                        <button type="button" class="btn btn-w-m btn-success color text-white mt-3" data-toggle="modal"
                            data-target=".bd-example5-modal-xl" (click)="resetPopup()"><i
                                class="fa fa-plus mr-1"></i>Add New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Email Type</th>
                                        <th>Email Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of emailResponseModel.emailDetailList let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td>{{p.emailType}}</td>
                                        <td>{{p.emailaddress}}</td>
                                        <td>
                                            <button class="btn btn-success color text-white btn-sm m-1" title="Edit"
                                                (click)="editEmailType(p)" data-toggle="modal"
                                                data-target=".bd-example5-modal-xl"> <i class="fa fa-edit"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>



    <div class="modal fade bd-example5-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">New Email</h4>
                    <button type="button" class="close" data-dismiss="modal" #EmailTypeModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="ibox-content p-xl">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Email Address</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Enter Email Address"
                                                        class="form-control" formControlName="emailaddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Email Type</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" formControlName="emailType">
                                                        <option>Select Email Type</option>
                                                        <option>To</option>
                                                        <option>CC</option>
                                                        <option>BCC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group  row fadeInRight float-right pr-3">
                                                <button [hidden]="editDetail == true" type="button"
                                                    class="btn btn-w-m btn-success text-white color"
                                                    (click)="pushEmailType()">Add</button>
                                                <button [hidden]="editDetail == false" type="button"
                                                    class="btn btn-w-m btn-success text-white color"
                                                    (click)="pushEmailType()">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>